body {
  background-color: #fff;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.edit-page {
  position: fixed;
  background: #6b4fbb;
  bottom: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);


  a#edit-page-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 16px;
    width: 128px;
    text-align: center;
    display: block;
  }

  &:hover {
    background-color: #380d75;
  }
}

#main-nav {
  width: 100%;
  display: block;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0.0, 0.0, 0.0, 0.1);
  min-height: 48px;
  padding: 8px 24px;
  background-color: #fff;

  a {
    text-decoration: none;

    &.site-name {
      font-weight: 600;
    }

    &:hover {
      color: #380d75;
    }
  }
}

#page-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  padding: 80px 48px 60px 48px;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1.8rem;

    &::before {
      content: "";
      display: block;
      margin: 40px;
      border-top: 1px dashed #dfdfdf;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 12px;
    color: #333333;
  }


  p {
    line-height: 1.4em;
    margin: 8px 0;
  }

  a {
    text-decoration: underline;
    color: #380d75;
    font-weight: 500;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }

  li {
    line-height: 1.5em;
  }

  img {
    max-width: 100%;
  }

  table {
    width: 100%;
  }
}
